    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>"Improving diversity and pluralism in the media also means providing greater opportunities for people"</h2>
                <p>With gender equality being raised in a wide variety of domains, a data-backed analysis can help our society understand its current position and the steps it needs to take to improve. This project aims at analysing the status of females through the lens of media. By using the <a href="https://dlab.epfl.ch/people/west/pub/Vaucher-Spitz-Catasta-West_WSDM-21.pdf">Quotebank</a> dataset, a corpus of quotations from a decade of news, the project provides insights on how gender is represented.</p><br>
                <p>Quickly describe the data: it's all in English. We use # number of quotes</p>
                <h2>Part 1</h2>
                <h3>How are females quoted around the world?</h3>
                <p>Include map? Just for the intro</p>
                
    
            </div>
        </div>
    </section>