    <!-- About Section -->
    <section id="part1" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="width: 90%; margin-left:5%; margin-right:5%;">


                <figure>
                    <blockquote cite="https://en.unesco.org/themes/media-diversity-and-gender-equality">
                        <h2 style="padding: 15px; background: #eee; border-radius: 5px; color:#495057">"Improving diversity and pluralism in the media also means providing greater opportunities for people."</h2>
                        <p style="text-align:right;">- UNESCO, 2019</p>

                    </blockquote>
                </figure>

                <br>
                <br>

                <p>With gender equality being raised in a wide variety of domains, a data-backed analysis can help our society understand its current position and the steps it needs to take to improve. This project aims at analysing the status of females through the lens of media. By using the <a href="https://dlab.epfl.ch/people/west/pub/Vaucher-Spitz-Catasta-West_WSDM-21.pdf" target="_blank">Quotebank</a> dataset, a corpus of quotations from a decade of news, the project provides insights on how gender is represented.</p><br>
                <p style="color:#FF0000">The data in this project covers quotes published between 2015 and 2020, and from a limited number of sources in order to facilitate the analysis. JUSTIFY HOW WE SELECTED THE SITES AND PUT A LINK SO THAT PEOPLE CAN SEE THIS LIST.</p>
              
                              
                <br />
                <br />
                <br />
                <br />
                <br />


                <h1 style="text-transform: uppercase;">Who run the world?</h1>
                <br/>

                <div style="height:1000px;">
                    <div style="background-color: white; float: left; width:50%;margin:0%;padding:0%;overflow: hidden;">                        
                        {% include Mean_percentage_Female_quotes.html %}
                         <!--{% include Mean_percentage_Female_quotes.html max-width="200px" caption="Trying"%}-->
                    </div>
                    <div>
                        <h3>How are females quoted around the world compared to males?</h3>
                        <p style="text-align:left;">
                            The percentage of female quotes from 2015 to 2020 for the media's country of origin gives a first insight of the gender 
                            representation in media. 
                            Small analysis of the plot, maybe focusing on the one hand on non english speaking countries and then on the english countries
                            Justify the choice UK USA and SA
                        </p>
                    </div> 
                </div>
                
                <br/>
                <p>
                    Having spotted interesting english-speaking countries to focus on, their respective evolution over the years supports the choice.
                </p>
                <br/>

                <div style="height:500px;background-color: white;">
                    <p style="float:right;text-align:right;vertical-align:center;">
                        {% include evolution_years.html %}
                    The percentage of females quotes gradually increases for the UK where as it stays constant for the other two countries.
                    </p>
                </div>
                <br/>
                <br/>
                <h3>Comparing female representation in 3 countries: <span style="color: #E5B25D;">UK</span>, <span style="color: #c13639;">USA</span> and <span style="color: #029e73;">South Africa</span></h3>
                <ul style="text-align: left;">
                    <li>(1.2.1) Unique speaker analysis</li>
                    <li>(1.2.2) Which are the media that quote the top 1 speakers ? </li>
                </ul>
                <h4>And in terms of unique speakers?</h4>  
                <p>
                    The evolution of female quotes for the UK is encouraging but what if it is always the same female that is quoted... 
                    On the contrary, the number of unique speakers might increase in the USA and South Africa which could be seen as counterbalancing the fact that their percentage stays constant.
                </p> 
                <br/>
                <div style="height:100px;width:100%;background-color: white;">
                    <div style="float:left;width:50%;">
                        {% include networkx_unique_speakers.html %}
                    </div>
                    <div style="float:right;width:50%;">
                        <p style="text-align:left;vertical-align:left;">
                            The top-3 unique speakers for country and gender depicts blabla
                        </p>
                    </div>
                </div> 
                <br/>
                <p>
                    Add some description about which are the media sources that generate the top 1 speaker. We expect them to coincide with popular and this could lead to analyse Part 2
                </p>
                <h4>What are the media that quoted the most those top 1 speakers ?</h4>
                <h5>Are they respected media ? Popular ones ?</h5>
                <br/>

                <br/>
                <br/>
                
                <br/>
                <br/>

                
    
            </div>
        </div>
    </section>