    <!-- Download Section -->
    <section id="part2" class="content-section text-center">
        <head> 
            <script src="jquery.js"></script> 
        </head> 

        <div class="download-section" style="background-color: #fff">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2"  style="width: 90%; margin-left:5%; margin-right:5%; color:#495057;">
                    <h2 style="text-transform: uppercase;">How does <span style="color: #7f868c;">respected</span> media compare to <span style="color: #cf755e;">popular</span> media?</h2>
                    <br>
                    <br>


                    <div style="height:400px">
                        <img src="img/table_media.jpg" style="float:left; width:400px;height:300px;margin-right:30px;">
                        <h3 style="text-align: left; vertical-align: center;">Who gives a voice to females?</h3> 
                        <p style="text-align:left;">In order to assess the difference between respected and popular media, a subset of quotes is analysed and quotes originating only from a shortlist of media sources are kept. These media were selected according to the following sources: <a href="https://www.forbes.com/sites/berlinschoolofcreativeleadership/2017/02/01/10-journalism-brands-where-you-will-find-real-facts-rather-than-alternative-facts/?sh=1c18e04de9b5" target="_blank">respected</a> and <a href=" https://www.similarweb.com/top-websites/category/news-and-media/" target="_blank">popular.</a>
                        </p>
                    </div>


                    <div style="height:450px">
                        <img src="img/prop_type_media_females_lineplot.svg" style="float:right; width:500px;height:400px;margin-left:30px;">
                        <h3 style="text-align: center; vertical-align: center;">And how do they evolve over the years?</h3> 
                        <p style="text-align:left;">These two groups of media have a different reputation. While one could expect that "respected" media would perform better in terms of equal gender representation, this figure shows that it is not the case at all. In fact, a gap is present between popular and respected media every single year. <br><br> The increase in proportion of females over the years in either group is encouring (the drop in 2020 is likely to the reduced number of quotes collected for that year) and surely reflects the awareness on gender issues that has increasingly been voices, and mediatised to some extent <br> 
                        </p>
                    </div>
                    <div style="background-color: #5296A5; width:500px; margin:auto;">
                                <p style="color:white; padding: 5px; font-weight: bold;">- but no media source is even half-way close to gender equality.</p>
                    </div>

                    <br>
                    <br>

                    <div style="height:500px">
                        <div style="background-color: white; float: left; width: 80%; margin-left:-15px;">                        
                            {% include percentage_quotes_females_media.html %}
                        </div>
                        <p style="text-align:left; margin-left: -50px;">Not all media sources present the proportion of female quotes. Within both popular and respcted media, propotions range between 12% and 26%. While on average (its not really an avg right, more like a weighted avg??) the resepcted media sources have a lower proportion, sources like the New York Times ave relatively high numbers, already in 2015, before the others.</p>
                    </div>

                    
                    <br />
                    <br />

                    <div style="height:1000px">
                        
                        <h3 style="text-align: center; vertical-align: center;">But what do females talk about?</h3> 
                        <p style="text-align:justify;">When thinking of the possible differences between "respected" and "popular" media, the differences in topics or categories covered come to mind. Indeed, the type of news presented by the sources differ thematically, politically and in terms of audience. The overall proportion of females does not give insight into <span style="font-style:italic;">what</span> they are quoted for and how this differs between the respected and popular media. 
                        <br><br>
                        By analysing keywords used in the URL of the article or page containing the quote, the quotes themselves are sorted into different categories of news. This allows to see if there are trends between genders based on topics, and understand how this could explain the results observed for the proportion of feamles depending on the mdeia source.</p>
                        </p>
                        <div style="float: center; margin-left: 50px; right:-15px;">
                            {% include percentage_quotes_females_category.html %}
                        </div>

                        <div style="height: 50px;">
                            <div style="width: 40%; background-color: #cf755e; margin: 5px; float:right; vertical-align: center;">
                                <p style="color:white; padding: 5px;font-weight: bold;">In 2018, over 50% of quotes in entertainment were by females, for popular media.</p>
                            </div>
                            <div>
                                <p style="text-align:left;">Rather unsurprisingly, the presence of female quotes is dependent on the cateogry, regardless of the type of media. The repartition of categories among the genders follows stereotypes: very few females are quoted in sports, while entertainment and culture present higher shares of female quotes, with more than 50% achieved in 2018 for popular entertainment. This maximum is the only occurence of a majority of female quotes. </p>
                            </div>                            
                        </div>
                        
                        

                    </div>
                    
                    <br />
                    <br />

                 
                    <p>To say: Female representation is not equally distributed over the categories. High in enterntainment and culture. Over 50% in popular enterntainment. Say who it is and add their pciture and quote.</p>
                    <p>To say: Okay we've considering quotes but not speakers. Lets look at unique speakers</p>


                    
                    <div style="height:1000px">
                        <h3 style="text-align: center; vertical-align: center;">Now let’s consider unique speakers</h3> 
                            {% include factor_male_for_female_interactive.html %}
                        <p style="color: #FF0000;">Add description: to assess the diversity of speakers represented within in each gender in entertainment we look at unqiue speakers...</p>
                        </p>
                    </div>

                    <p>So there are not truly 50% women, its just the same women that get repreated</p>
                    <p>Women are less present, but when they are, are they quoted as much and given the same "space"? This can be seen by looking at quote length.</p>
                    <br />
                    <br />


                    <div style="height:600px">
                        <p style="text-align: right; vertical-align: center;"><img src="img/length_quote_combined_with_sex_symbol_culture_entairtainment.svg" style="float:right; width:500px;height:600px;margin-left:30px;">
                        <h3 style="text-align: center; vertical-align: center;">Quote length in culture and entertainment</h3> 
                        <p style="color: #FF0000;">Add description</p>
                        </p>
                    </div>
                    <br />
                    <br />


                    <div style="height:1500px">
                        <h3 style="text-align: center; vertical-align: center;">Which media sources generated these quotes in culture and entertainment?</h3> 
                            {% include percentage_quotes_culture_interactive_media.html %}
                            {% include percentage_quotes_entertainment_interactive_media.html %}
                        <p style="color: #FF0000;">Add description: actually these graphs dont really answer the question of this part. But lets keep the graph and just change the question --> Do all of the media sources quote the same proportion of women in culture and entertainment?</p>
                        </p>
                    </div>
                    
                    <br />
                    <br />
                    <br />
                    <br />                    
                
                    <div style="background-color: white; height:800px">
                        <h3>(2.5) Unsupervised clustering</h3>
                        <p style="font-family: arial;">Take the sitenames found in (2.4) which apparently quote women more (with repetition, not unique). See if the topics in the quotes found corresponds to culture and entert. Or just to a comparison between 2 sitenames</p>
                        {% include lda.html %}
                    </div>

                    <br />
                    <br />
                    
                </div>
                
            </div>
        </div>
    </section>