    <!-- Contact Section -->
    <section id="team" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2"  style="background-color:#495057;width: 90%; margin-left:5%; margin-right:5%;">
                <h2 style="color:#fff;">Team</h2>
                <h3>
                    Here is the team behind the project
                </h3>
                
                <div class="clearfix" style="content:' ';clear:both;display:table">
                    <div class="twoimg-container" style="float:left;width:25%;padding:5px">
                        <img src="img/lisa.jpeg" style="width:100%">
                        <figcaption style="text-align:center;color:#fff;padding:10px" > Lisa Laurent <br> EPFL-Energy </figcaption>
                        <!--EPFL Energy-->
                    </div>
                    <div class="twoimg-container" style="float:left;width:25%;padding:5px">
                        <img src="img/selene.jpeg" style="width:100%">
                        <figcaption style="text-align:center;color:#fff;padding:10px">Sélène Ledain</figcaption>
                    </div>
                    <div class="twoimg-container" style="float:left;width:25%;padding:5px">
                        <p><img src="img/lisa.jpeg" style="width:100%">
                        <figcaption style="text-align:center;color:#fff;padding:10px">Lavi Schlyter</figcaption>
                        </p>
                    </div>
                    <div class="twoimg-container" style="float:left;width:25%;padding:5px">
                        <img src="img/selene.jpeg" style="width:100%">
                        <figcaption style="text-align:center;color:#fff;padding:10px">Arthur Waeber</figcaption>
                    </div>
                </div>

                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>